@charset "UTF-8";

#board { margin:20px auto;	width:1000px; }

.navbar-brand {
	padding: 7px 10px 0px 15px;
}

.profile {
	width: 160px; <!--가로 크기 지정-->
}

.title {
	width: 800px !important;
}

.category-menu {
	width: 344px !important;
}

.t {
	width: 70px !important;
}

.board-form {
	margin-top:30px
}

.tbl-ex		{
	width:100%;
	margin:10px auto; 
	border-collapse:collapse;
	border-bottom:2px solid #333;
}

.tbl-ex th, 
.tbl-ex td	{ 
	padding:8px;
	text-align:center; 	 
}
	
.tbl-ex th	{ 
	border-top:2px solid #333;
	border-bottom:2px solid #333; 
	background-color:#999; 
	font-size:2.0em; 
	color:#000 
}

.tbl-ex td {
	border-top:1px dotted #333;
	border-bottom:1px dotted #333; 
}

.board-form .tbl-ex td {
	text-align:left
}

.board-form .tbl-ex td.label {
	text-align:right;
	font-weight:bold;
	width:60px; 
}

.board-form .tbl-ex input[ name='title' ] {
	width: 480px;
}

.board-form .tbl-ex textarea#content {
	width: 470px;
	height: 200px;
	padding: 10px;
	resize: none;
	outline: none;	
}

.board-form select {
	padding:5px;
}

tr.even td	{ background-color:#e8ecf6 }

.tbl-ex a { text-decoration:none; font-weight:bold; }

.view ul{width:200px;}


.scrollBlind{
    width:230px;
    height:260px;
    overflow-y:auto;
}

div#content		{ float:right; width:580px; background-color:#fff }
