@charset "UTF-8";

div {
	border:0px solid #d00000;
}

.navbar-brand {
	padding: 7px 10px 0px 15px;
}

.profile {
	width: 160px; <!--가로 크기 지정-->
}

.title {
	width: 800px !important;
}

.category-menu {
	width: 344px !important;
}

.t {
	width: 70px !important;
}